
@model WeatherReportViewtModel
@using (Html.BeginForm("GetWeatherInfo", "Weather", FormMethod.Post, new { id = "weatherForm" }))
{
    <section class="vh-100" style="background-color: #f5f6f7;">
        <div class="text-center">
            <h1 class="display-8">Welcome to Weather Forecast</h1>
            <span></span>
            <div class="row">
                <div class="col-md-3 text-right">
                    @Html.LabelFor(model => model.Country)
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Country",
                               new SelectList(Enum.GetValues(typeof(Country))),
                               new { @class = "form-control" })
                </div>
                <div class="col-md-5 text-left">
                    <input id="submitBtn" type="submit" value="Submit" class="btn btn-primary" onclick="location.href='@Url.Action("Weather", "GetWeatherInfo")'" />
                </div>
            </div>
            @if (Model?.ShowWeatherCard == true)
            {
                <div id="weatherCard" class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-10 col-lg-8 col-xl-6">

                            <div class="card bg-dark text-white" style="border-radius: 40px;">
                                <div class="bg-image" style="border-radius: 35px;">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp"
                                         class="card-img" alt="weather" />
                                    <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
                                </div>
                                <div class="card-img-overlay text-dark p-5">
                                    <h4 class="mb-0">@Model?.name</h4>
                                    <p class="display-2 my-3">@Model?.main?.temp°C</p>
                                    <p class="mb-2">Feels Like: <strong>@Model?.main?.feels_like °C</strong></p>
                                    <h5>@Model?.weather?.FirstOrDefault()?.description</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
