@{
    ViewData["Title"] = "Home Page";
}
<img class="headerLogo" src="@Url.Content("~/image.jpg")" alt="Image Logo" />
<div class="text-center">
    <h1 class="display-4">Welcome to Weather Forecast</h1>
    
    @*<img class="headerLogo" src="@Url.Content("~/image.jpg")" alt="Image Logo" />*@
</div>
